[submodule "Zsign"]
	path = Zsign
	url = https://github.com/afterglow-labs/Zsign-Package
	branch = fix/no-framework-entitlements
[submodule "IDeviceKitten"]
	path = IDeviceKitten
	url = https://github.com/khcrysalis/IDeviceKit
